<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autoStartup" type="AutoStartup.StartupSection,AutoStartup" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <autoStartup>
    <startups>
      <add name="ipsync" path="ipsync.exe" args="-f f:/"/>
      <add name="ipsync2" path="ipsync.exe" args=""/>
    </startups>
  </autoStartup>
</configuration>